*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    background: #1D4ED8;
    padding: 10px 15px;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.btn:hover{
    background: transparent;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;transition: 0.3;
}
.section-padding{
    padding: 100px 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.title h2{
    font-size: 50px;
}
.title p{
    color: #575757;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* navbar start */
.navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar ul{
    display: flex;
}
.navbar img{
    max-width: auto;
}
.navbar li a{
    color: #575757;
    margin: 0 10px;
    font-weight: 500;
}
.navbar li a:hover{
    color: #1D4ED8;
}
/* Navbar End */
/* Hero start */
.hero{
    position: relative;
    background: url('./assets/banner.jpg');
    height: calc(100vh - 280px);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.hero:after{
    position: absolute;
    content: '';
    background: #000;
    opacity: 0.2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hero-content{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.heading{
    width: 60%;
    margin: 0 auto;
}
.hero .btn{
}
.hero-content h1{
 font-weight: 700;
 font-size: 70px;
}
/* Hero end */
/* Speaker Start */
.meet-the-speaker{
    width: 1200px;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px
}
.card{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}
.card img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}
.speaker-content{
    padding: 15px;
    display: grid;
    gap: 2px;
}
.speaker-content span{
    color: #2563EB;
    font-weight: 500;
}
.speaker-content h3{
    font-weight: bold;
}
.speaker-content p{
    color: #575757
}
/* Speaker End */
/* Pricing start */
.pricing-area{
    max-width: 1000px;
    margin: 0 auto;
}
.all-pricing{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.single-pricing{
    border: 1px solid #E5E7EB;
    padding: 30px 20px;
    border-radius: 8px;
    width: 100%;
}
.single-pricing.highlight{
    background: #0D1B2A;
}
.price-head{
    color: #575757;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 20px;
}
.single-pricing.highlight .price-head{
    color: #fff;
}
.price-head span{
    font-weight: 700;
    color: #000;
    font-size: 45px;
    display: block;
}
.single-pricing.highlight .price-head span{
    color: #fff;
}
.single-pricing.highlight .price-list li{
    color: #fff;
    opacity: 0.8;
}
.single-pricing.highlight .btn{
    width: 100%;
}
.price-list {
    margin-bottom: 20px;
}
.price-list li{
    padding: 3px 0 3px 15px;
    color: #333;
    position: relative;
}
.price-list li:before{
    position: absolute;
    content: "";
    left: 0;
    top: 050%;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: #2563EB;
}
.price-btn{
    width: 100%;
    background-color: transparent;
    border: 1px solid #2563EB;
    padding: 10px 15px;
    border-radius: 8px;
    color: #2563EB;
    font-weight: bold;
}
/* Pricing end */

/* attend-cards */
.why-attend {
    max-width: 1200px;
    margin: 0 auto;
}
.attend-cards{
    display: flex;
    gap: 20px;
}
.attend-card{
    padding: 30px 20px;
    text-align: center;
    display: grid;
    gap: 10px;
}
.attend-card i{
    font-size: 20px;
    color: #2563EB;
}

.footer-area{
    background: #0D1B2A;
    padding: 30px 0;
}
.footer-top, .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top{
    padding-bottom: 20px;
    border-bottom: 1px solid #2563EB;
}
.footer-top i{
    font-size: 20px;
    color: #fff;
    padding: 0 5px;
}
.footer-bottom{
    padding-top: 30px;
}
.footer-bottom p, .footer-bottom a{
    color: #fff;
    opacity: 0.4;
}
.footer-bottom a{
    padding: 0 5px;
}